<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.aselsan.targettracking.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.aselsan.targettracking.RealPerspective"
            id="com.aselsan.targettracking.realperspective"
            name="Real">
      </perspective>
      <perspective
            class="com.aselsan.targettracking.Perspective"
            id="com.aselsan.targettracking.perspective"
            name="Simulation">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.aselsan.targettracking.view.SensorManagerView"
            id="com.aselsan.targettracking.sensormanagerview"
            name="sensormanagerview"
            restorable="true">
      </view>
      <view
            class="com.aselsan.targettracking.view.GISView"
            id="com.aselsan.targettracking.gisview"
            name="gisview"
            restorable="true">
      </view>
      <view
            class="com.aselsan.targettracking.view.SoftwareJoystickView"
            id="com.aselsan.targettracking.softwarejoystickview"
            name="Joystick"
            restorable="true">
      </view>
      <view
            class="com.aselsan.targettracking.view.ComSelectView"
            id="com.aselsan.targettracking.comselectview"
            name="COM"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Sensor Network">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="asdf"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.aselsan.targettracking.toolbar1">
            <command
                  commandId="com.aselsan.targettracking.commandnew"
                  icon="icons/new.png"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="com.aselsan.targettracking.commandopen"
                  icon="icons/open.png"
                  label="Open"
                  style="push">
            </command>
            <command
                  commandId="com.aselsan.targettracking.commandsave"
                  icon="icons/save.png"
                  label="Save"
                  style="push">
            </command>
            <separator
                  name="com.aselsan.targettracking.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.aselsan.targettracking.commandstart"
                  icon="icons/start.png"
                  label="Start"
                  style="push">
            </command>
            <command
                  commandId="com.aselsan.targettracking.commandstop"
                  icon="icons/stop.png"
                  label="Stop"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aselsan.targettracking.CommandNew"
            id="com.aselsan.targettracking.commandnew"
            name="New">
      </command>
      <command
            defaultHandler="com.aselsan.targettracking.CommandOpen"
            id="com.aselsan.targettracking.commandopen"
            name="Open">
      </command>
      <command
            defaultHandler="com.aselsan.targettracking.CommandSave"
            id="com.aselsan.targettracking.commandsave"
            name="Save">
      </command>
      <command
            defaultHandler="com.aselsan.targettracking.CommandStart"
            id="com.aselsan.targettracking.commandstart"
            name="Start">
      </command>
      <command
            defaultHandler="com.aselsan.targettracking.CommandStop"
            id="com.aselsan.targettracking.commandstop"
            name="Stop">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.aselsan.targettracking.application"
            name="Project">
         <property
               name="appName"
               value="Project">
         </property>
      </product>
   </extension>

</plugin>
